.protocol_upload_box {
  box-shadow: -10px 10px 7px #888888;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #CACED4;
  border-radius: 10px;
}

.protocol_type {
  color:black;
}