.authentication_box_and_img {
    margin: auto;
    width: 700px;
    height: 700px;
    padding-bottom: 30px;
}

.user_authentication_box {
    background-color: dimgray;
    box-shadow: -10px 10px 7px #888888;
    height: 240px;
    width: 300px;
    margin-top: 30px;
    display: inline-block;
    z-index: 1;
    position: absolute;
    float: left;
    border-radius: 10px;
    padding-bottom: 6   0px;
}

.authentication_img {
    display: inline-block;
    float: right;
    z-index: 2;
    margin-top: -100px;
}

.banner {
    text-align: center;
    padding-top: 2px;
}

.error {
    text-align: center;
}

.user_auth {
    padding-top: 30px;
    text-align: center;
}

.user_auth .left {
    display: inline-block;
}

.user_auth .right {
    display: inline-block;
}

.user_auth .bottom {
    padding-top: 10px;
}

.user {
    margin-bottom: -20px;
}
