.banner {
    text-align: center;
}

.error {
    text-align: center;
}

.user_auth {
    padding-top: 35px;
    text-align: center;
}

.user_auth .left {
    display: inline-block;
}

.user_auth .right {
    display: inline-block;
}

.user_auth .bottom {
    padding-top: 10px;
}

.user {
    margin-bottom: -20px;
}