{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>So what's a <b>ProtoCat</b>?</h1>
					<br>
	    		</div>
	    		
                <div class="col-md-12">

                </div>
	    	</div> <!--.row centered-->
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
<div class="about_section">
	<h2>The Problem</h2>
<p>At is core, synthetic biology is the practice of genetically engineering novel organisms to perform a particular function. However, <a href="https://peerj.com/articles/148">recent review studies</a> estimate only 10-25% of published scientific results are reproducible. A <a href="http://2014.igem.org/Team:Michigan_Software/Project#Description">2014 survey</a> conducted by the University of Michigan Biological Software Team confirmed that the repeatability problem exists in synthetic biology, with <em>every scientist surveyed reporting prior struggles with replicating protocols.</em> The majority of these scientists indicate <em>unclear language and missing steps</em> are the greatest contributors to the irreproducibility of synthetic biology protocols. ProtoCat is designed to address both of these issues by making it easier for scientists to share troubleshooting techniques and submit edits to existing protocols. </p>

<h2>The Solution</h2>
<p>Every respondent indicated that they would use a database to browse and download protocols, <em>with over 85% indicating that they would upload and maintain their own protocols if such a site existed</em>. ProtoCat is a free database of crowd sourced protocols designed to make existing protocols more repeatable and enable more accurate computational models of biological systems. We believe this can most efficiently be accomplished with a commitment to open source protocols and a broader more active community of digital troubleshooters. ProtoCat works to establish such a community by giving anyone with an internet connection or smartphone access to a repository of synthetic biology protocols collected from all over the world. Additionally, ProtoCat encourages the development of higher quality, more repeatable protocols by allowing users to document trails, rate, review, and edit existing methods, and easily locate related protocols. </p>
<img src = "http://2015.igem.org/wiki/images/5/5d/Team_Michigan_Software_banner.jpg" width=50% />
</div>
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Designed To Excel</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="{% static 'images/intro01.png' %}" alt="">
					<h3>Community</h3>
					<p>This is filler text, this is filler text, and this is more filler text.</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'images/intro02.png' %}" alt="">
					<h3>Dynamic</h3>
					<p>This is filler text, this is filler text, and this is more filler text.</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'images/intro03.png' %}" alt="">
					<h3>Specialized</h3>
					<p>This is filler text, this is filler text, and this is more filler text.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">What's New?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="{% static 'images/mobile.png' %}" alt="">
				</div>
				
				<div class="col-lg-6">
					<h3>Some Features</h3>
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		                        First Class Design
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>This is filler text, this is filler text, and this is more filler text.This is filler text, this is filler text, and this is more filler text.This is filler text, this is filler text, and this is more filler text.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                        Retina Ready Theme
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>This is filler text, this is filler text, and this is more filler text.This is filler text, this is filler text, and this is more filler text.</p>								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		                        Awesome Support
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>This is filler text, this is filler text, and this is more filler text.This is filler text, this is filler text, and this is more filler text.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		                
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		                        Responsive Design
		                        </a>
		                    </div>
		                    <div id="collapseFour" class="accordion-body collapse">
		                        <div class="accordion-inner">
								<p>This is filler text, this is filler text, and this is more filler text.This is filler text, this is filler text, and this is more filler text.</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Some Screenshots</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="{% static 'images/item-01.png' %}" alt="">
					    </div>
					    <div class="item">
					      <img src="{% static 'images/item-02.png' %}" alt="">
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>	
		</div><!-- /container -->
	</div>

{% endblock %}
