{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


                    <script type="text/javascript">
                        function addStep() {
                            var inner_container = document.createElement("div");
                            inner_container.className = "inner_container";

                            var container =  document.getElementById("step_container");

                            // creating the step label
                            var nodeList = document.getElementsByClassName("protocol");
                            var step_count = nodeList.length + 1;
                            var label = document.createElement("h3");
                            label.innerHTML = "Step " + step_count;
                            inner_container.appendChild(label);

                            // creating the text box for steps
                            var step = document.createElement("textarea");
                            step.rows = "3";
                            step.cols = "40";
                            step.setAttribute("class", "protocol");
                            inner_container.appendChild(step);

                            container.appendChild(inner_container);

                            // creating name to extract content in views
                            var step_list = document.getElementsByClassName("protocol");
                            // giving the name for each step
                            for(var i = 0; i <= step_list.length; i++) {
                                var new_name = "step" + (i + 1);
                                step_list[i].setAttribute("name", new_name);
                            }
                        }

                        function removeStep() {
                            var container = document.getElementById("step_container");
                            var victim = container.lastChild;
                            container.removeChild(victim);
                        }

                    </script>

    <div class="container">
        <div class="edit">
        <div class="row">
            <div class="col-md-4">
                
                <form method="POST" action="/edit_protocol/{{protocol_id}}/">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <h4>{{ form.title.label_tag }}</h4>
                        <textarea name="title" id="id_title" rows="1" cols="60">{{title}}</textarea>
                    </div>
                    <div class="fieldWrapper">
                        <h4>{{ form.description.label_tag }}</h4>
                        {% if description %}
                        <textarea name="description" id="id_description" rows="5" cols="40">{{description}}</textarea>
                        {% else %}
                        <textarea name="description" id="id_description" rows="5" cols="40"></textarea>
                        {% endif %}

                    </div>
                    <div class="fieldWrapper">
                        <h4>{{ form.protocol_type.label_tag }}</h4>
                        {{ form.protocol_type }}
                    </div>
                    <div class="fieldWrapper">
                        <h4>{{ form.reagents.label_tag }}</h4>
                        <textarea name="reagents" id="id_reagents" rows="15" cols="40">{{reagents}}</textarea>
                    </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                    <div class="fieldWrapper">
                        <br>
                        <h4>{{ form.protocol_steps.label_tag }}</h4>
                        <textarea name="protocol_steps" id="id_protocol_steps" rows="30" cols="80">{{protocol_steps}}</textarea>
                    </div>
                    <input type="submit" value="Post">
                </form>
            </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        </div>
    </div>

{% endblock %}