{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">Protocol Overlord</div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Date Uploaded</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for protocol in protocol_list %}
                                <tr>
                                    <td><a href={{protocol.4}}>{{protocol.0}}</a></td>
                                    <td>{{ protocol.1 }}</td>
                                    <td>{{ protocol.2 }}</td>
                                    <td>{{ protocol.5 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



{% endblock %}