{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

                    <script type="text/javascript">
                        function addStep() {

                            var container =  document.getElementById("step_container");
                            var step = document.createElement("textarea");
                            step.rows = "3";
                            step.cols = "40";

                            step.setAttribute("class", "protocol");
                            container.appendChild(step);

                            var step_list = document.getElementsByClassName("protocol");

                            for(var i = 0; i <= step_list.length; i++) {
                                var new_name = "step" + i;
                                step_list[i].setAttribute("name", new_name);
                            }
                        }

                        function removeStep(x) {
                            document.write('pass');
                            var container = document.getElementById("step_container");
                            var current = document.getElementById(x);
                            var victim = current.previousSibling;
                            container.removeChild(victim);
                        }

                    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST" action="/protocol_upload/">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.protocol_type.label_tag }}
                        {{ form.protocol_type }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.reagents.label_tag }}
                        {{ form.reagents }}
                    </div>
                    <!-- protocol form
                    <div class="fieldWrapper">
                        {{ form.protocol.label_tag }}
                        <button type="button" onclick="addStep()">Add a Step</button>
                        <button type="button" onclick="removeStep()">Remove a Step</button>
                        <input type="text" id="id_protocol" name="protocol" >

                        <br>

                        <div id="step_container">
                        </div>
                    </div>
                    -->
                    <label for="id_protocol_steps">Steps:</label>
                    <button type="button" onclick="addStep()">Add a Step</button>
                    <button type="button" onclick="removeStep()">Remove a Step</button>
                    <br><br>

                    <br>


                    <div id="step_container">

                    </div>


                    <input type="submit" value="Post">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>



{% endblock %}