{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<form action="/protocol_list">
    <input type="submit" value="List">
</form>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <strong>{{protocol_items.title}}</strong>
                <br>
                {{protocol_items.date_of_upload}}
                Uploaded by {{protocol_items.author}}
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="well well-sm">{{protocol_items.description}}</div>
        </div>
        {{protocol_items.protocol_type}}
        {{protocol_items.rating}}
        {{protocol_items.reagents}}
        {{protocol_items.protocol}}
    </div>
    {% if procotol_items.cuthor == user %}
    works!
    {% endif %}


    {% if user ==  protocol_items.author %}
    <form method="POST" action="/delete_protocol/{{protocol_items.id}}/">
         {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <form method="POST" action="/edit_protocol/{{protocol_items.id}}/">
         {% csrf_token %}
        <input type="submit" value="Edit">
    </form>
    {% endif %}

{% endblock %}