{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="panel panel-primary">
                    <div class="panel-heading">Protocol List</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><a href="/protocol_list_sort/title/{{order}}">Title</a></th>
                                    <th><a href="/protocol_list_sort/author/{{order}}">Author</a></th>
                                    <th><a href="/protocol_list_sort/date_of_upload/{{order}}">Date Uploaded</a></th>
                                    <th><a href="/protocol_list_sort/date_modified/{{order}}">Last Modified</a></th>
                                    <th><a href="/protocol_list_sort/rating/{{order}}">Rating</a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for protocol in protocol_list %}
                                <tr>
                                    <td><a href={{protocol.4}}>{{ protocol.0 }}</a></td>
                                    <td><a href={{protocol.7}}>{{ protocol.1 }}</a></td>
                                    <td>{{ protocol.2 }}</td>
                                    <td>{{ protocol.6 }}</td>
                                    <td>{{ protocol.5 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



{% endblock %}