{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST" action="">
                    {% csrf_token %}
                    {# allows POST requests #}
                    {{ form.as_p }}
                    <input type="submit" value="Post it">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>



{% endblock %}