{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<form action="/protocol_list">
    <input type="submit" value="List">
</form>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <strong>{{protocol_items.title}}</strong>
                {{protocol_items.date_of_upload}}
                Uploaded by {{protocol_items.author}}
                <hr>
            </div>

            <div class="col-md-2"></div>

        </div>
        {{protocol_items.protocol_type}}
        {{protocol_items.rating}}
        {{protocol_items.reagents}}
        {{protocol_items.protocol_steps}}



    <div class="row">
    {{protocol_items.user_rated}}
    {% if current_user not in protocol_items.user_rated %}
        {# This is a quick fix, change it later. Find a list field in Django #}

    <br>
        <form method="POST" action="/rating/{{protocol_items.id}}/">
            {% csrf_token %}
            <input type="number" name="rating" min="1" max="5">
        </form>
    <br>
    {% endif %}
    {% if protocol_items.author == current_user %}
    <form method="POST" action="/delete_protocol/{{protocol_items.id}}/">
         {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <form method="POST" action="/edit_protocol/{{protocol_items.id}}/">
         {% csrf_token %}
        <input type="submit" value="Edit">
    </form>
    {% endif %}


{% endblock %}