{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success alert-dismissable">

                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Alert!
                            </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="page-header">
                            <h1>
                                LayoutIt! <small>Interface Builder for Bootstrap</small>
                            </h1>
                        </div>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a> <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="#">Library</a> <span class="divider">/</span>
                            </li>
                            <li class="active">
                                Data
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="tabbable" id="tabs-404099">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel-459211" data-toggle="tab">Section 1</a>
                                </li>
                                <li>
                                    <a href="#panel-607394" data-toggle="tab">Section 2</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-459211">
                                    <p>
                                        I'm in Section 1.
                                    </p>
                                </div>
                                <div class="tab-pane" id="panel-607394">
                                    <p>
                                        Howdy, I'm in Section 2.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <h2>
                                Hello, world!
                            </h2>
                            <p>
                                This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Panel title
                                </h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                Panel footer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="list-group">
                             <a href="#" class="list-group-item active">Home</a>
                            <div class="list-group-item">
                                List header
                            </div>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    List group item heading
                                </h4>
                                <p class="list-group-item-text">
                                    ...
                                </p>
                            </div>
                            <div class="list-group-item">
                                <span class="badge">14</span>Help
                            </div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}