{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Welcome To <b>ProtoCat 2.0</b></h1>
					<h3>The open source protocol catalog.</h3>
					<br>
	    		</div>
	    		
                <div class="col-md-12">
                    <div class="input input-lg" id="search_bar">
                        <form class="form-search" method="GET" action="{% url 'search' %}">
                            <input type="text" name="search" class="form-control" placeholder="Search for Protocols!">
                        </form>
                    </div>
                </div>
	    	</div> <!--.row centered-->
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Collaborating Towards Success</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="http://2015.igem.org/wiki/images/7/7f/Team_Michigan_Software_Collaboration.png" width="100%" alt="">
					<h3>Share it</h3>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'images/try_it.jpeg' %}" width="83%" alt="">
					<h3>Try it</h3>
				</div>
				<div class="col-lg-4">
					<img src="{% static 'images/like_it.png' %}" width="60%" alt="">
					<h3>Like it</h3>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

{% endblock %}