{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Protocol Overlord</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th><a href="/title_list">Title</a></th>
                                    <th><a href="/author_list">Author</a></th>
                                    <th><a href="/date_list">Date Uploaded</a></th>
                                    <th><a href="/modified_list">Last Modified</a></th>
                                    <th><a href="/rating_list">Rating</a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for protocol in results %}
                                <tr>
                                    <td><a href="/protocol_display/{{protocol.id}}">{{protocol.title}}</a></td>
                                    <td>{{ protocol.author }}</td>
                                    <td>{{ protocol.date_of_upload }}</td>
                                    <td>{{ protocol.date_modified }}</td>
                                    <td>{{ protocol.rating }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



{% endblock %}