{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">Protocol Overlord</div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Date Uploaded</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for protocol in results %}
                                <tr>
                                    <td><a href="/protocol_display/{{protocol.id}}">{{protocol.title}}</a></td>
                                    <td>{{ protocol.author }}</td>
                                    <td>{{ protocol.date_of_upload }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



{% endblock %}