{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="banner">
        <h2>Registration</h2>
    </div>
    <div class="user_reg">
        <form method="POST" action=""> {% csrf_token %} {#  allows POST requests #}
            <div class="left">
                {{ form.user_name.label_tag }}<br><br>
                {{ form.email.label_tag }}<br><br>
                {{ form.password.label_tag }}
            </div>
            <div class="right">
                {{ form.user_name }}<br><br>
                {{ form.email }}<br><br>
                {{ form.password }}
            </div>
            <div class="bottom">
                <input type="submit" value="Sign In">
            </div>
       </form>
    </div>

{% endblock %}

