<!DOCTYPE html>
<html lang="en">
<head>
{#  TODO: update icons and other pictures #}
     {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.descr }}">
    <meta name="author" content="MiBioSoft">
      {# TODO: Update Protocat color scheme to something more pleasing #}
    <link rel="shortcut icon" href="{% static 'stylesheets/images/protocat.ico' %}">

    <title>{{  page.title }}</title>
{#      TODO: Use the respective CDNs in production and minify/compress remaining   #}
    <!-- Bootstrap core CSS -->

    <link href="{% static 'stylesheets/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'stylesheets/root_index.css' %}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script src="{% static 'javascripts/smoothscroll.js' %}"></script>
    <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>

    <title>{% block title %}template title{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
          <body data-spy="scroll" data-offset="0" data-target="#navigation">

            <!-- Fixed navbar -->
                <div id="navigation" class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><b>ProtoCat</b></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% if not user.is_authenticated %}
                      <ul class="nav navbar-nav">
                        <li><a href="#desc" class="smothscroll">About</a></li>
                        <li><a href="#showcase" class="smothScroll">Protocols</a></li>
                        <li><a href="#contact" class="smothScroll">Contact</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="/user_registration" class="smothscroll">Sign up</a></li>
                          <li><a href="/user_authentication" class="smothScroll">Login</a></li>

                        {% endif %}
                        {% if user.is_authenticated %}
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user_home" class="smothscroll">Home</a></li>
                        <li><a href="/protocol_upload" class="smothscroll">Protocol</a></li>
                        <li><a href="/user_logout" class="smothscroll">Log out</a></li>
                      </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                  </div>
                </div>
        {% endblock %}
    </div>
    {% block pagination %}
    {% endblock %}


    <div id="content">
        {% block content %}{% endblock %}
    </div>


    {% block footer %}
        <section id="contact" name="contact"></section>
            <div id="footerwrap">
                <div class="container">
                    <div class="col-lg-5">
                        <h3>Address</h3>
                        <p>
                        Av. Greenville 987,<br/>
                        New York,<br/>
                        90873<br/>
                        United States
                        </p>
                    </div>

                    <div class="col-lg-7">
                        <h3>Drop Us A Line</h3>
                        <br>
                        <form role="form" action="#" method="post" enctype="plain">
                          <div class="form-group">
                            <label for="name1">Your Name</label>
                            <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
                          </div>
                          <div class="form-group">
                            <label for="email1">Email address</label>
                            <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                            <label>Your Text</label>
                            <textarea class="form-control" name="Message" rows="3"></textarea>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
    {% endblock %}
</body>
</html>